
USE [db_BanQuanAo]
GO
/****** Object:  Table [dbo].[bag]    Script Date: 6/9/2024 11:28:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bag](
	[bag_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[product_size_id] [int] NULL,
	[amount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[bag_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category_discount_event]    Script Date: 6/9/2024 11:28:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category_discount_event](
	[discount_event_id] [int] IDENTITY(1,1) NOT NULL,
	[category_product_id] [int] NULL,
	[discount_event_name] [nvarchar](255) NULL,
	[discount_event_description] [nvarchar](255) NULL,
	[discount_event_img] [nvarchar](255) NULL,
	[discount_event_dateCreated] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[discount_event_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category_product]    Script Date: 6/9/2024 11:28:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category_product](
	[category_product_id] [int] IDENTITY(1,1) NOT NULL,
	[category_product_name] [nvarchar](255) NULL,
	[category_product_description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[category_product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[history_search]    Script Date: 6/9/2024 11:28:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[history_search](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[text_search] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 6/9/2024 11:28:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[product_parent_id] [int] NULL,
	[product_more_info] [nvarchar](255) NULL,
	[product_img] [nvarchar](255) NULL,
	[product_size_and_fit] [nvarchar](255) NULL,
	[product_style_code] [nvarchar](50) NULL,
	[product_color_shown] [nvarchar](50) NULL,
	[product_description] [nvarchar](255) NULL,
	[product_description2] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_icons]    Script Date: 6/9/2024 11:28:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_icons](
	[product_icons_id] [int] IDENTITY(1,1) NOT NULL,
	[icon_name] [varchar](255) NULL,
	[thumbnail] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[product_icons_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_img]    Script Date: 6/9/2024 11:28:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_img](
	[product_img_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[product_img_file_name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[product_img_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_object]    Script Date: 6/9/2024 11:28:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_object](
	[product_object_id] [int] IDENTITY(1,1) NOT NULL,
	[product_object_name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[product_object_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_parent]    Script Date: 6/9/2024 11:28:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_parent](
	[product_parent_id] [int] IDENTITY(1,1) NOT NULL,
	[product_parent_name] [nvarchar](100) NULL,
	[product_object_id] [int] NULL,
	[product_category_id] [int] NULL,
	[thumbnail] [text] NULL,
	[product_price] [money] NULL,
	[is_new_release] [bit] NULL,
	[product_icons_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[product_parent_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_review]    Script Date: 6/9/2024 11:28:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_review](
	[product_review_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[product_id] [int] NULL,
	[product_review_Title] [nvarchar](255) NULL,
	[product_review_content] [nvarchar](255) NULL,
	[product_review_time] [datetime] NULL,
	[product_review_rate] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[product_review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_size]    Script Date: 6/9/2024 11:28:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_size](
	[product_size_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[size_id] [int] NOT NULL,
	[soluong] [int] NULL,
 CONSTRAINT [PK_product_size] PRIMARY KEY CLUSTERED 
(
	[product_size_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[size]    Script Date: 6/9/2024 11:28:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[size](
	[size_id] [int] IDENTITY(1,1) NOT NULL,
	[size_name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[size_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_account]    Script Date: 6/9/2024 11:28:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_account](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[user_username] [varchar](100) NULL,
	[user_password] [varchar](255) NULL,
	[user_gender] [nvarchar](5) NULL,
	[user_email] [varchar](255) NULL,
	[user_phone_number] [varchar](11) NULL,
	[user_address] [nvarchar](max) NULL,
	[user_first_name] [nvarchar](100) NULL,
	[user_last_name] [nvarchar](100) NULL,
	[user_member_tier] [int] NULL,
	[user_point] [int] NULL,
	[user_url] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_favorite_products]    Script Date: 6/9/2024 11:28:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_favorite_products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
 CONSTRAINT [PK_user_favorite_products_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_order]    Script Date: 6/9/2024 11:28:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_order](
	[user_order_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[first_name] [nvarchar](60) NULL,
	[last_name] [nvarchar](60) NULL,
	[address] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[phone_number] [nvarchar](255) NULL,
	[is_processed] [int] NULL,
	[payment_method] [nvarchar](255) NULL,
	[total_price] [money] NULL,
	[createdAt] [datetime] NULL,
	[updatedAt] [datetime] NULL,
 CONSTRAINT [PK__user_ord__3E79E7F1DA606466] PRIMARY KEY CLUSTERED 
(
	[user_order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_order_products]    Script Date: 6/9/2024 11:28:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_order_products](
	[user_order_id] [int] NOT NULL,
	[product_size_id] [int] NOT NULL,
	[amount] [int] NULL,
 CONSTRAINT [PK_UOP] PRIMARY KEY CLUSTERED 
(
	[user_order_id] ASC,
	[product_size_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[bag] ON 

INSERT [dbo].[bag] ([bag_id], [user_id], [product_size_id], [amount]) VALUES (4, 11, 35, 1)
INSERT [dbo].[bag] ([bag_id], [user_id], [product_size_id], [amount]) VALUES (5, 8, 35, 1)
SET IDENTITY_INSERT [dbo].[bag] OFF
GO
SET IDENTITY_INSERT [dbo].[category_discount_event] ON 

INSERT [dbo].[category_discount_event] ([discount_event_id], [category_product_id], [discount_event_name], [discount_event_description], [discount_event_img], [discount_event_dateCreated]) VALUES (1, 1, N'Hello bro', N'Testing bro', N'https://product.hstatic.net/200000581855/product/giay_nike_court_borough_low_2_white_black__gs_6_6f17354237f94765b89a076a5399cf76_master.jpeg', CAST(N'2024-01-01T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[category_discount_event] OFF
GO
SET IDENTITY_INSERT [dbo].[category_product] ON 

INSERT [dbo].[category_product] ([category_product_id], [category_product_name], [category_product_description]) VALUES (1, N'Clothing', N'Various types of clothing for men and women')
INSERT [dbo].[category_product] ([category_product_id], [category_product_name], [category_product_description]) VALUES (2, N'Shoes', N'Various types of shoes and sneakers')
SET IDENTITY_INSERT [dbo].[category_product] OFF
GO
SET IDENTITY_INSERT [dbo].[history_search] ON 

INSERT [dbo].[history_search] ([id], [user_id], [text_search]) VALUES (158, 17, N'nike')
INSERT [dbo].[history_search] ([id], [user_id], [text_search]) VALUES (159, 8, N'sdf')
SET IDENTITY_INSERT [dbo].[history_search] OFF
GO
SET IDENTITY_INSERT [dbo].[product] ON 

SET IDENTITY_INSERT [dbo].[product] OFF
GO
SET IDENTITY_INSERT [dbo].[product_icons] ON 

INSERT [dbo].[product_icons] ([product_icons_id], [icon_name], [thumbnail]) VALUES (1, N'Air Force 1', N'air_force_1.png')
INSERT [dbo].[product_icons] ([product_icons_id], [icon_name], [thumbnail]) VALUES (2, N'Dunk', N'dunk.png')
INSERT [dbo].[product_icons] ([product_icons_id], [icon_name], [thumbnail]) VALUES (3, N'Air Jordan 1', N'air_jordan_1.png')
SET IDENTITY_INSERT [dbo].[product_icons] OFF
GO
SET IDENTITY_INSERT [dbo].[product_img] ON 

INSERT [dbo].[product_img] ([product_img_id], [product_id], [product_img_file_name]) VALUES (1, 1, N'air_force_1_07_shoes_white.png')
INSERT [dbo].[product_img] ([product_img_id], [product_id], [product_img_file_name]) VALUES (2, 1, N'air_force_1_07_shoes_white2.png')
INSERT [dbo].[product_img] ([product_img_id], [product_id], [product_img_file_name]) VALUES (3, 1, N'air_force_1_07_shoes_white3.png')
GO
SET IDENTITY_INSERT [dbo].[product_img] OFF
GO
SET IDENTITY_INSERT [dbo].[product_object] ON 

INSERT [dbo].[product_object] ([product_object_id], [product_object_name]) VALUES (1, N'Men')
INSERT [dbo].[product_object] ([product_object_id], [product_object_name]) VALUES (2, N'Women')
INSERT [dbo].[product_object] ([product_object_id], [product_object_name]) VALUES (3, N'Kids')
SET IDENTITY_INSERT [dbo].[product_object] OFF
GO
SET IDENTITY_INSERT [dbo].[product_parent] ON 

INSERT [dbo].[product_parent] ([product_parent_id], [product_parent_name], [product_object_id], [product_category_id], [thumbnail], [product_price], [is_new_release], [product_icons_id]) VALUES (2, N'Air Jordan 1 Mid', 1, 2, N'air_jordan_1_mid_white_black_thumbnail.png', 3519.0000, 1, 3)
INSERT [dbo].[product_parent] ([product_parent_id], [product_parent_name], [product_object_id], [product_category_id], [thumbnail], [product_price], [is_new_release], [product_icons_id]) VALUES (3, N'Air Jordan 1 Low', 1, 2, N'air_jordan_1_low_shoes_6Q1tFM_thumbnail.png', 3239.0000, 1, 3)
INSERT [dbo].[product_parent] ([product_parent_id], [product_parent_name], [product_object_id], [product_category_id], [thumbnail], [product_price], [is_new_release], [product_icons_id]) VALUES (4, N'Nike Air Force 1''07', 1, 2, N'air_force_1_07_shoes_white_thumbnail.png', 2929.0000, 1, 1)
SET IDENTITY_INSERT [dbo].[product_parent] OFF
GO
SET IDENTITY_INSERT [dbo].[product_size] ON 

INSERT [dbo].[product_size] ([product_size_id], [product_id], [size_id], [soluong]) VALUES (1, 1, 10, 50)
INSERT [dbo].[product_size] ([product_size_id], [product_id], [size_id], [soluong]) VALUES (2, 1, 11, 50)
INSERT [dbo].[product_size] ([product_size_id], [product_id], [size_id], [soluong]) VALUES (3, 1, 12, 50)
GO
SET IDENTITY_INSERT [dbo].[product_size] OFF
GO
SET IDENTITY_INSERT [dbo].[size] ON 

INSERT [dbo].[size] ([size_id], [size_name]) VALUES (1, N'EU 32')
INSERT [dbo].[size] ([size_id], [size_name]) VALUES (2, N'EU 33')
INSERT [dbo].[size] ([size_id], [size_name]) VALUES (3, N'EU 33.5')
SET IDENTITY_INSERT [dbo].[size] OFF
GO
SET IDENTITY_INSERT [dbo].[user_account] ON 

INSERT [dbo].[user_account] ([user_id], [user_username], [user_password], [user_gender], [user_email], [user_phone_number], [user_address], [user_first_name], [user_last_name], [user_member_tier], [user_point], [user_url]) VALUES (8, NULL, NULL, NULL, N'boquangdieu2003@gmail.com', N'', N'', N'Quang Diệu', N'', NULL, NULL, N'https://lh3.googleusercontent.com/a/ACg8ocJivWsWXeDMeC78aUbQDTZ5yt4byhrAHtPIx6r4yIxOZLK5zJ9S')
INSERT [dbo].[user_account] ([user_id], [user_username], [user_password], [user_gender], [user_email], [user_phone_number], [user_address], [user_first_name], [user_last_name], [user_member_tier], [user_point], [user_url]) VALUES (9, N'dieu2003', N'2c181e47de856cca3dbcfbf2e636c2fe36d8d25a6247361508260eb408b79b14', NULL, N'dieu@gmail.com', N'', N'', N'Quang Dieu', N'Bo', NULL, NULL, NULL)
INSERT [dbo].[user_account] ([user_id], [user_username], [user_password], [user_gender], [user_email], [user_phone_number], [user_address], [user_first_name], [user_last_name], [user_member_tier], [user_point], [user_url]) VALUES (10, N'asdas', N'688787d8ff144c502c7f5cffaafe2cc588d86079f9de88304c26b0cb99ce91c6', NULL, N'asdasd', NULL, NULL, N'asd', N'asd', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[user_account] OFF
GO
SET IDENTITY_INSERT [dbo].[user_favorite_products] ON 

INSERT [dbo].[user_favorite_products] ([id], [user_id], [product_id]) VALUES (139, 8, 3)
INSERT [dbo].[user_favorite_products] ([id], [user_id], [product_id]) VALUES (132, 11, 5)
INSERT [dbo].[user_favorite_products] ([id], [user_id], [product_id]) VALUES (138, 11, 8)
SET IDENTITY_INSERT [dbo].[user_favorite_products] OFF
GO
SET IDENTITY_INSERT [dbo].[user_order] ON 

INSERT [dbo].[user_order] ([user_order_id], [user_id], [first_name], [last_name], [address], [email], [phone_number], [is_processed], [payment_method], [total_price], [createdAt], [updatedAt]) VALUES (1, 8, N'Dieu', N'Quang', N'123 qwe', N'boquangdieu2003@gmail.com', N'0939638911', 1, N'Paypal', 10271.0000, CAST(N'2024-06-07T23:41:22.000' AS DateTime), CAST(N'2024-06-07T23:41:22.000' AS DateTime))
INSERT [dbo].[user_order] ([user_order_id], [user_id], [first_name], [last_name], [address], [email], [phone_number], [is_processed], [payment_method], [total_price], [createdAt], [updatedAt]) VALUES (2, 16, N'a', N'b', N'abc', N'a@gmail.com', N'0909090909', 1, N'Paypal', 3769.0000, CAST(N'2024-06-09T15:30:50.000' AS DateTime), CAST(N'2024-06-09T15:30:50.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[user_order] OFF
GO
INSERT [dbo].[user_order_products] ([user_order_id], [product_size_id], [amount]) VALUES (1, 35, 2)
INSERT [dbo].[user_order_products] ([user_order_id], [product_size_id], [amount]) VALUES (1, 83, 1)
INSERT [dbo].[user_order_products] ([user_order_id], [product_size_id], [amount]) VALUES (2, 35, 1)
GO
/****** Object:  Index [UQ__bag__29DC9EA8838D7C08]    Script Date: 6/9/2024 11:28:49 PM ******/
ALTER TABLE [dbo].[bag] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[product_size_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [u_userID_ProductID]    Script Date: 6/9/2024 11:28:49 PM ******/
ALTER TABLE [dbo].[user_favorite_products] ADD  CONSTRAINT [u_userID_ProductID] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bag]  WITH CHECK ADD FOREIGN KEY([product_size_id])
REFERENCES [dbo].[product_size] ([product_size_id])
GO
ALTER TABLE [dbo].[bag]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[user_account] ([user_id])
GO
ALTER TABLE [dbo].[category_discount_event]  WITH CHECK ADD  CONSTRAINT [fk_cde_cp] FOREIGN KEY([category_product_id])
REFERENCES [dbo].[category_product] ([category_product_id])
GO
ALTER TABLE [dbo].[category_discount_event] CHECK CONSTRAINT [fk_cde_cp]
GO
ALTER TABLE [dbo].[history_search]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[user_account] ([user_id])
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [fk_p_pp] FOREIGN KEY([product_parent_id])
REFERENCES [dbo].[product_parent] ([product_parent_id])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [fk_p_pp]
GO
ALTER TABLE [dbo].[product_img]  WITH CHECK ADD  CONSTRAINT [fk_pi_p] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[product_img] CHECK CONSTRAINT [fk_pi_p]
GO
ALTER TABLE [dbo].[product_parent]  WITH CHECK ADD  CONSTRAINT [fk_category_pp] FOREIGN KEY([product_category_id])
REFERENCES [dbo].[category_product] ([category_product_id])
GO
ALTER TABLE [dbo].[product_parent] CHECK CONSTRAINT [fk_category_pp]
GO
ALTER TABLE [dbo].[product_parent]  WITH CHECK ADD  CONSTRAINT [fk_object_pp] FOREIGN KEY([product_object_id])
REFERENCES [dbo].[product_object] ([product_object_id])
GO
ALTER TABLE [dbo].[product_parent] CHECK CONSTRAINT [fk_object_pp]
GO
ALTER TABLE [dbo].[product_parent]  WITH CHECK ADD  CONSTRAINT [FK_PP_PI] FOREIGN KEY([product_icons_id])
REFERENCES [dbo].[product_icons] ([product_icons_id])
GO
ALTER TABLE [dbo].[product_parent] CHECK CONSTRAINT [FK_PP_PI]
GO
ALTER TABLE [dbo].[product_review]  WITH CHECK ADD  CONSTRAINT [fk_pr_p] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[product_review] CHECK CONSTRAINT [fk_pr_p]
GO
ALTER TABLE [dbo].[product_review]  WITH CHECK ADD  CONSTRAINT [fk_pr_u] FOREIGN KEY([user_id])
REFERENCES [dbo].[user_account] ([user_id])
GO
ALTER TABLE [dbo].[product_review] CHECK CONSTRAINT [fk_pr_u]
GO
ALTER TABLE [dbo].[product_size]  WITH CHECK ADD  CONSTRAINT [fk_ps_p] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[product_size] CHECK CONSTRAINT [fk_ps_p]
GO
ALTER TABLE [dbo].[product_size]  WITH CHECK ADD  CONSTRAINT [fk_ps_s] FOREIGN KEY([size_id])
REFERENCES [dbo].[size] ([size_id])
GO
ALTER TABLE [dbo].[product_size] CHECK CONSTRAINT [fk_ps_s]
GO
ALTER TABLE [dbo].[user_favorite_products]  WITH CHECK ADD  CONSTRAINT [FK_PD] FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([product_id])
GO
ALTER TABLE [dbo].[user_favorite_products] CHECK CONSTRAINT [FK_PD]
GO
ALTER TABLE [dbo].[user_favorite_products]  WITH CHECK ADD  CONSTRAINT [FK_US] FOREIGN KEY([user_id])
REFERENCES [dbo].[user_account] ([user_id])
GO
ALTER TABLE [dbo].[user_favorite_products] CHECK CONSTRAINT [FK_US]
GO
ALTER TABLE [dbo].[user_order_products]  WITH CHECK ADD  CONSTRAINT [FK_uop_ps] FOREIGN KEY([product_size_id])
REFERENCES [dbo].[product_size] ([product_size_id])
GO
ALTER TABLE [dbo].[user_order_products] CHECK CONSTRAINT [FK_uop_ps]
GO
ALTER TABLE [dbo].[user_order_products]  WITH CHECK ADD  CONSTRAINT [fk_uop_uo] FOREIGN KEY([user_order_id])
REFERENCES [dbo].[user_order] ([user_order_id])
GO
ALTER TABLE [dbo].[user_order_products] CHECK CONSTRAINT [fk_uop_uo]
GO
